h1,h4{
	text-align:center;
  
 }
 
 h4 {
	 background-color:pink;
 }
 table, th, td{
  border:2px solid black;
  border-collapse:collapse;
 }
 .not{
	 float:right;
 }
 .sri{
	 color:red;
 }
 .full{
	 width:50%;
	 
	 
 }
 
	 